
.page{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: scroll;
}

.content{
    width: 800px;
    background-color: black;
    color: aliceblue;
    justify-content: center;
    text-align: center;
    height: 100px;
    border-bottom: 4px solid rgb(229, 171, 46);
}
.gallery{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    /* object-fit: contain; */
    /* object-position: bottom; */
    justify-content: center;
    background-color: blanchedalmond;
    margin: auto;
}
img{
    margin: 10px;
    width: 350px;
    height: 300px;
    border-radius: 10px;
}